# {{ ansible_managed }}
#

{%- if openssh_client_config_enable_github %}
# GitHub needs diffie-hellman-group-exchange-sha1
Host github.com
    KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256,diffie-hellman-group-exchange-sha1,diffie-hellman-group14-sha1
{% endif %}

Host *
    KexAlgorithms {{ openssh_client_config_kexalgorithms }}
    PasswordAuthentication {{ openssh_client_config_passwordauthentication }}
    PubkeyAuthentication {{ openssh_client_config_pubkeyauthentication }}
    HostKeyAlgorithms {{ openssh_client_config_hostkeyalgorithms }}
    Ciphers {{ openssh_client_config_ciphers }}
    MACs {{ openssh_client_config_macs }}
    SendEnv LANG LC_*
    HashKnownHosts yes
    GSSAPIAuthentication yes
    GSSAPIDelegateCredentials no
