# {{ ansible_managed }}
#

KexAlgorithms {{ openssh_server_config_kexalgorithms }}
Protocol 2
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
PasswordAuthentication {{ openssh_server_config_passwordauthentication }}
PubkeyAuthentication {{ openssh_server_config_pubkeyauthentication }}
Ciphers {{ openssh_server_config_ciphers }}
MACs {{ openssh_server_config_macs }}

Port {{ openssh_server_config_port }}
{% for addr in openssh_server_config_listenaddress %}
ListenAddress {{ addr }}
{% endfor %}
LogLevel {{ openssh_server_config_loglevel }}
PermitRootLogin {{ openssh_server_config_permitrootlogin }}
StrictModes {{ openssh_server_config_strictmodes }}
AuthorizedKeysFile	.ssh/authorized_keys
ChallengeResponseAuthentication {{ openssh_server_config_challengeresponseauthentication }}
UsePAM {{ openssh_server_config_usepam }}
X11Forwarding {{ openssh_server_config_x11forwarding }}
MaxAuthTries {{ openssh_server_config_maxauthtries }}
IgnoreRhosts yes
HostbasedAuthentication no
PermitEmptyPasswords no
PermitUserEnvironment no
ClientAliveInterval {{ openssh_server_config_clientaliveinterval }}
ClientAliveCountMax {{ openssh_server_config_clientalivecountmax }}
PrintMotd no # pam does that
UsePrivilegeSeparation sandbox		# Default for new installations.
UseDNS no
Banner /etc/issue.net

AllowGroups {{ openssh_server_config_usergroup }}

# override default of no subsystems
Subsystem	sftp	/usr/lib/ssh/sftp-server

